@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #444;

    display: grid;
    grid-template-rows: 1fr minmax(0px, 720px) 1fr;
    grid-template-columns: 1fr minmax(0px, 1280px) 1fr;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

svg {
    width: 100%;
}
